/* Variables */
:root {
  --firstColor: #001e26;
  --secondColor: #012a35;
  --therdColor: #22bd88;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--firstColor);
}

ul {
  list-style: none;
}

.main-box {
  border: 4px solid var(--therdColor);
  text-align: left;
  box-shadow: 0 0 15px var(--therdColor);
}
@media (max-width: 600px) {
  .main-box {
    margin: 40px 10px;
    margin-bottom: 120px;
    padding: 20px;
  }
}
@media (min-width: 601px) {
  .main-box {
    margin: 50px;
    padding: 30px;
  }
}
@media (min-width: 1200px) {
  .main-box {
    margin: 100px;
    padding: 50px;
  }
}
.main-box .main-head {
  width: fit-content;
  border-bottom: 2px solid #fff;
}